<!-- carousel -->
<div class="carousel">
  <!--si hemos pasado link, se pone este a block-->
 
    <ng-container  *ngFor="let slide of slides; let i = index; let link of misLinks">
      <img
        *ngIf="i === currentSlide"
        [src]="slide.src"
        (click)="onClick()"
        class="slide"
        @carouselAnimation
      />
    </ng-container>

 
   
  
    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
  </div>