<app-header titulo="Política de Privacidad"></app-header>

<h1 class="title">Nuestra política de privacidad</h1>
<div class="politica">
    <h1 #t0>Introducción</h1>
    <p>
        Tal y como mencionamos en nuestras  3 Leyes de protección de datos, nos comprometemos a proteger la privacidad 
        de sus datos. Esta Política de privacidad explica más concretamente qué información Tripmefy Corporation y sus 
        Empresas del Grupo recopilan de los Titulares de cuenta y Usuarios finales ("usted") a través de los sitios web 
        y aplicaciones de Tripmefy, a los cuales nos referimos colectivamente como "el Servicio". El Servicio incluye el Software tripmefy.
    </p>

    <p>
        Tenga en cuenta que si utiliza Trimefy como viajero, usted es el Titular de la cuenta y el Usuario final de una cuenta del 
        servicio de Tripmefy. Si utiliza Tripmefy como organizador, el Titular de la cuenta es el Cliente que ha contratado 
        Tripmefy. Puede encontrar la definición de estos y otros términos utilizados en esta política en el Glosario al final de esta página.
    </p>

    <p>
        Aunque es poco frecuente que se produzcan cambios, esta política se puede modificar a medida que aparezcan nuevas 
        funciones, tecnología o requisitos legales, de modo que le recomendamos que los compruebe ocasionalmente. Si 
        realizamos algún cambio significativo, le notificaremos y, en caso necesario, solicitaremos su consentimiento. 
    </p>

    <h1 #t1>¿Qué tipo de información recoge Tripmefy? </h1>

    <p>
        Creamos Tripmefy para ayudarle a crear paquetes de viajes y así poder acercarse más al usuario . 
        Eso significa que puede introducir, cargar o almacenar en Tripmefy cualquier texto, imagen y otros datos 
        que desee; nos referimos a esa información como "Contenido". También recopilamos y recibimos los siguientes 
        tipos de información:
    </p>

    <ul>
        <li><b>Información básica sobre suscriptores.</b> Para abrir su cuenta y procesar pagos, recopilamos y 
            recibimos información básica como su dirección de correo electrónico y, en función de cómo compre,
            su dirección de facturación y otra información de pago. </li>
        <li><b>Datos de uso.</b> Recopilamos y registramos datos sobre cómo usted y otros usuarios acceden y 
            utilizan Tripmefy, por ejemplo, la acción de crear o compartir un viaje. Los datos de uso se pueden 
            recopilar a través de cookies y tecnologías similares. Para obtener más información, incluida la forma de
            desactivación, visite nuestra página de Información de Cookies. </li>
        <li><b>Información de ubicación.</b> Recopilamos la dirección IP que utiliza para conectarse al Servicio y, 
            si decide compartirla, la información de su ubicación desde un dispositivo móvil. </li>
        <li><b>Información del dispositivo.</b> Recopilamos información sobre el número y el tipo de dispositivos
            que utiliza para conectarse al Servicio, así como información sobre los sistemas operativos de esos 
            dispositivos (p. ej., iOS, Android, Windows). Obtenga más información sobre los datos que recopilan nuestras 
            aplicaciones de su dispositivo en nuestra página de Uso de datos.</li>
    </ul>

    <h1 #t2>¿Cómo utiliza Tripmefy mi información?</h1>

        <p>Tenemos normas concretas sobre cómo y cuándo utilizamos la información que recopilamos y recibimos. 
            Las describimos a continuación.</p>

        <h3><b>¿Qué hace Tripmefy con mi información?</b></h3>
            <p>Nos comprometemos a proteger la privacidad de su información. A continuación, 
                describimos las formas en que utilizamos la información que recopilamos y recibimos para proporcionar, 
                mantener y mejorar el Servicio; con el fin de ofrecer solución a los problemas y dar asistencia a los 
                clientes; para proteger el Servicio para todos nuestros usuarios; para ponernos en contacto con usted; 
                y para administrar las cuentas de Tripmefy Business.&nbsp;</p>
            <ul>
                <li>Utilizamos una serie de tecnologías para ayudarle a sacar el máximo provecho del Servicio.
                    Nuestros sistemas analizan automáticamente sus datos con el fin de potenciar las funciones de 
                    Tripmefy y para mejorar continuamente el Servicio de una forma que no requiera que nadie vea su 
                    Contenido. Esto puede incluir, por ejemplo:</li>
                <ul>
                    <li>Asegurarnos de que encuentra lo que necesita cuando busca en su cuenta.</li>
                    <li>Mostrándole la información más relevante según como esté o pueda estar utilizando el 
                        Servicio en el momento y/o lugar concreto;</li>
                    <li>Sugerir las acciones que puede realizar en función de la 
                        información que ha almacenado.</li>
                    <li>Sugiriéndole funciones o productos del servicio de Tripmefy que consideramos que le ayudarán a sacar el máximo provecho de nuestro Servicio.</li>
                    <li>Para usuarios de Tripmefy Business, recomendar personas con las que puede colaborar.</li>
                </ul>
            </ul>
            <ul>
                <li>Con el fin de ofrecer solución a los problemas y dar asistencia a los clientes, 
                    es posible que nuestro equipo de Atención al cliente necesite acceder a su información, 
                    como la dirección de correo electrónico de su cuenta e información sobre la aplicación Tripmefy 
                    que está utilizando, sujeto a las protecciones que se describen a continuación. &nbsp;</li>
                <li>Como parte de nuestros esfuerzos para proteger su cuenta y la funcionalidad del Servicio, 
                    nuestros sistemas automatizados pueden analizar los mensajes de correo electrónico que envíe a
                    y desde su cuenta de Tripmefy y las notas que comparte para detectar spam, malware u otros posibles 
                    problemas de seguridad. Si determinamos que dicho material constituye una violación de los 
                    Términos de Servicio o Guías de usuario, podemos bloquear la entrega o detener el uso compartido del 
                    material problemático, tal y como funciona un filtro de correo no deseado en su bandeja de entrada 
                    del correo electrónico. Obtenga más informaciónsobre los pasos que puede seguir para proteger su cuenta, 
                    como el uso de contraseñas seguras, verificación en dos pasos y cifrado.</li>
                <li>De acuerdo con sus preferencias de comunicación, nos pondremos en contacto con usted ocasionalmente 
                    para anunciar nuevos productos y funciones que creamos para usted, compartir consejos para utilizar 
                    Tripmefy y hacer más cosas, ofrecer ofertas especiales y proporcionar información sobre cómo funciona 
                    Tripmefy con productos y servicios de nuestros socios comerciales.</li>
            </ul>

    
    <h1 #t3>¿Alguien de Tripmefy podría ver alguna vez mi Contenido?</h1>
        <p>
            Usted tiene el control sobre quién ve su Contenido. Limitamos el uso de su Contenido 
            para asegurarnos de que nadie de Tripmefy pueda verlo, a menos que usted nos dé permiso expreso o 
            que sea necesario para cumplir con nuestras obligaciones legales. Concretamente:
            
            Para ayudar a refinar o mejorar la tecnología, podemos pedirle permiso para revisar partes de su 
            Contenido. Por ejemplo, si una nueva función sugiere notas relacionadas que son relevantes para su 
            Contenido, podemos darle la oportunidad de proporcionarnos comentarios sobre cómo funciona la función
            junto con una muestra del Contenido en cuestión, con el fin de que podamos asegurarnos de que la función 
            proporciona sugerencias adaptadas de forma adecuada. Dicho acceso a su Contenido se produce únicamente 
            con su permiso expreso y está sujeto a estrictas normas de confidencialidad y controles de acceso a datos. 
            Tomar la decisión de darnos este permiso es completamente voluntario.
            Si se pone en contacto con nuestro equipo de Atención al cliente para obtener ayuda con partes concretas 
            del Contenido en su cuenta (por ejemplo, si no puede encontrar una nota que cree que debería estar en su 
            cuenta), pedirles posible que le pidamos permiso temporal para mirar su Contenido. Este permiso finaliza en 
            el momento en que se resuelve el problema.
        </p>

    
    <h1 #t4>¿Cómo responde Tripmefy a las solicitudes legales de mi información?</h1>
        <p>
            Protegemos cuidadosamente la privacidad de su cuenta. No divulgaremos su información a 
            las autoridades policiales u otras autoridades gubernamentales a menos que consideremos 
            que sea necesario para cumplir las órdenes, órdenes judiciales, citaciones u otras solicitudes 
            legales del gobierno. Esto puede incluir responder a solicitudes legales de jurisdicciones fuera 
            de España si consideramos de buena fe que la ley exige la respuesta en esa jurisdicción, 
            afecta a los usuarios en esa jurisdicción y es coherente con las normas básicas internacionalmente 
            reconocidas.
        </p>
        <p>
            Interpretamos de manera estricta todas las solicitudes de información, y solo revelamos 
            el Contenido de su cuenta que atienda específicamente a una orden del gobierno o si ha 
            brindado su consentimiento explícito. De acuerdo con nuestra política de notificación a 
            usuarios, le comunicaremos si creemos que estamos obligados a cumplir una demanda legal de un 
            tercero de su información, y rutinariamente rechazaremos las directivas de gobierno sobre el 
            retraso de la notificación a usuarios que consideremos demasiado generales. Puede encontrar 
            más información en nuestro Informe de transparencia actual.
        </p>
        <p>
            Además, en raras ocasiones es posible que compartamos su información según sea necesario para investigar 
            o tomar acciones respecto a actividades ilegales, presunto fraude o amenazas potenciales contra personas,
             propiedad o sistemas de quienes trabajamos en el Servicio, o según sea necesario con el fin de 
             cumplir nuestras obligaciones legales.</p>

    <h1 #t5>¿Cómo puedo gestionar mi información almacenada en Tripmefy?</h1>
        <p>
            De acuerdo con nuestra primera ley de protección de datos, sus datos le pertenecen y en la mayoría 
            de los casos puede gestionar su información simplemente accediendo a su cuenta y editando su información 
            directamente dentro del servicio de Tripmefy.</p>
        <p>
            Sin embargo, si lo prefiere, puede ponerse en contacto con nosotros escribiendo a atencion@Tripmefy.com
            para solicitarnos que proporcionemos acceso, corrijamos, actualicemos o eliminemos su información personal. 
            Tenga en cuenta que posiblemente le solicitemos un comprobante de identidad y/o propiedad de la cuenta antes 
            de completar su solicitud. Cumpliremos dichas solicitudes en la medida requerida por la ley aplicable o por el 
            Escudo de Privacidad de España.
        </p>
        
</div>


<div class="right-menu">
    <ul>
    <a (click)="scroll(t0)"><li>Introducción</li></a> <hr>
    <a (click)="scroll(t1)"><li>¿Qué tipo de información recoge Tripmefy?</li></a> <hr>
    <a (click)="scroll(t2)"><li>¿Cómo utiliza Tripmefy mi información?</li></a> <hr>
    <a (click)="scroll(t3)"><li>¿Alguien de Tripmefy podría ver alguna vez mi Contenido?</li></a> <hr>
    <a (click)="scroll(t4)"><li>¿Cómo responde Tripmefy a las solicitudes legales de mi información?</li></a> <hr>
    <a (click)="scroll(t5)"><li>¿Cómo puedo gestionar mi información almacenada en Tripmefy?</li></a>
    </ul>   
</div>

<app-scroll-top></app-scroll-top>