<app-header titulo = "Aquí empieza todo"></app-header>
<div class="contenido">
    <div class="tarjeta">
        <h1>¡ Bienvenido !</h1>
        <div class="principal">
            <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/_xJWESxbP0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{textoMotivacion}}</p>
        </div>
        <div class="inferior">
            <h2>{{textoAccion}}</h2>
            <!--<button [routerLink]="['/mis-viajes']">COMENZAR</button>-->
            <app-boton texto="COMENZAR"></app-boton>
        </div>
    </div>
</div>
