<app-header titulo = "Aquí empieza todo"></app-header>
<div class="contenido">
    <div class="tarjeta">
        <h1>¡ Bienvenido !</h1>
        <div class="principal">
            <div class="videoViajero" *ngIf="organizador == false">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nWrR_AraVUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="videoOrganizador" *ngIf="organizador == true">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/QHfSASXi-nA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <p>{{textoMotivacion}}</p>
        </div>
        <div class="inferior">
            <h2>{{textoAccion}}</h2>
            <!--<button [routerLink]="['/mis-viajes']">COMENZAR</button>-->
            <app-boton texto="COMENZAR" [routerLink]="['/mis-viajes']"></app-boton>
        </div>
    </div>
</div>
