<div class="content">

    <div class="menu-izq">
        <img src="../../../assets/notificacion.png">
    </div>
    <div class="centro">
        <img (click)="toInicio()" src="../../../assets/tripmefy2.png">
    </div>
    <div class="menu-lateral">
        <p (click)="onLogout()" class="menu">Logout</p>
        <p class="menu" (click)="irPerfil()">Perfil</p>
        <p  class="menu">About Us</p>
        <p  class="menu">Contact</p> 
        <img src="../../../assets/menu.png">
    </div>
    
</div>
<div class="titulo">
    <h1>{{titulo}}</h1>
</div>

