<div class="content">
    <div class="menu-izq">
      <p *ngIf="isViajero" (click)="onNotification()" class="menu-icon"> 
        <mat-icon matBadge="{{numberOfMensajes}}" matBadgeColor="warn">question_answer</mat-icon>
      </p>
      <p *ngIf="isViajero == false" (click)="onNotification()" class="menu-icon">
        <mat-icon matBadge="{{numberOfSolicitudes}}" matBadgeColor="warn">question_answer</mat-icon>
      </p>
      <!-- <img src="../../../assets/notificacion.png">  -->      
    </div>
    <div class="centro">
        <img (click)="toInicio()" src="../../../assets/tripmefy2.png">
    </div>
    <div class="menu-lateral">
        <p *ngIf="isViajero" (click)="onNotification()" class="menu-icon"> 
            <mat-icon matBadge="{{numberOfMensajes}}" matBadgeColor="warn">question_answer</mat-icon>
        </p>
        <p *ngIf="isViajero == false" (click)="onNotification()" class="menu-icon">
          <mat-icon matBadge="{{numberOfSolicitudes}}" matBadgeColor="warn">question_answer</mat-icon>
        </p>
        <p (click)="onLogout()" class="menu">Logout</p>
        <p class="menu" (click)="irPerfil()">Perfil</p>
        <p class="menu" routerLink="/logros">Logros</p>
        <p  class="menu" (click)="irAboutUs()">About Us</p>
        
        <img src="../../../assets/menu.png" (click)="showMenuMovil()">
    </div>
</div>
<div class="titulo">
    <h1>{{titulo}}</h1>
</div>


<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1><b>Tus notificaciones</b></h1>
      <br>
      <div class="mensaje" *ngFor="let solicitud of solicitudes">

        <!--Usamos este if para evitar fallos de inicializaciones multiples del array al actualizar la bbdd -->
        <div *ngIf="solicitud.idSolicitud != '--'"> 
          <div class="nombre_individuo">
            <b>{{solicitud.nombre}} </b>
          </div>
          <div class="eleccion1"> <!--Aceptar la solicitud-->
            <mat-icon (click)="accept(solicitud.idSolicitud)" style="cursor:pointer">done_outline</mat-icon>
          </div>
          <div class="eleccion2"> <!--Declinar la solicitud-->
            <mat-icon (click)="aCasa(solicitud.idSolicitud)" style="cursor:pointer">highlight_off</mat-icon>
          </div>
          <hr>
        </div>

      </div>
      <br>
      <button type="button" class="btn cancel" (click)="close()">Close</button> 
    </form>
</div>

<div class="form-popup" id="myFormViajero">
  <form action="/action_page.php" class="form-container">
    <h1><b>Tus notificaciones</b></h1>
    <br>
    <div class="mensaje" *ngFor="let mensaje of mensajes">
      
      <!--Usamos este if para evitar fallos de inicializaciones multiples del array al actualizar la bbdd -->
      <div *ngIf="mensaje.idViaje != '--'">
        <div *ngIf="mensaje.estado == 'aceptado' || mensaje.estado == 'pagado'" class="nombre_individuoViajero">
          <b>Viaje a {{mensaje.nombreViaje}} aceptado</b>
        </div>
        <div *ngIf="mensaje.estado == 'rechazado'" class="nombre_individuoViajero">
          <b>Lo sentimos, su solicitud para {{mensaje.nombreViaje}} ha sido denegada :(</b>
        </div>
        <div *ngIf="mensaje.estado == 'aceptado'" class="eleccion1Viajero">
          <button (click)="pagar(mensaje.idViaje)" mat-raised-button color="primary" style="height: 3em; width: 10em;">Pagar</button>
       </div>
       <div *ngIf="mensaje.estado == 'pagado'" class="eleccion1Viajero">
        <button mat-stroked-button disabled style="height: 3em; width: 10em;">Ya has pagado</button>
        </div>
        <hr>
      </div>
        
    </div>
    <br>
    <button type="button" class="btn cancel" (click)="close1()">Close</button> 
  </form>
</div>

<div class="form-popup" id="myFormMenu">
  <form action="/action_page.php" class="form-container">
    <h1><b>Menu</b></h1>
    <hr>
    <p (click)="onLogout()" class="menu">Logout</p>
    <p class="menu" (click)="irPerfil()">Perfil</p>
    <p class="menu" routerLink="/logros">Logros</p>
    <p  class="menu" (click)="irAboutUs()">About Us</p>
   

    <button type="button" class="btn cancel" (click)="showMenuMovil()">Close</button> 
  </form>
</div>
