$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;
$letters: #03a9f4;
$gris-encabezado: #F5F5F5;
$azul-verdoso: #009788;


.content{
    display: flex;
    height: 50px;
    background-color: $gris-encabezado;
}

.content .centro{
    width: 33%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}

.content .centro img{
    height: 80%;
    align-self: center;
    display: block;
    margin: auto;
    
}

.content .menu-izq{
    width: 33%;
    padding-left: 30px;
    display: flex;
    justify-content: left;
    align-content: center;
    align-items: center;
}
.menu-izq img{
    height: 40%;
    display: none;
}
.content .menu-lateral{
    display: flex;
    justify-content: space-around;
    width: 33%;
    padding-top: 15px;
}

.content .menu-lateral img{
    display: none;
}
.menu-lateral p{
    font-weight: bold;
    color: $letters;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.titulo{
    //background-color: $letters;
    background-color: $azul-verdoso;
    height: 40px;
    color: $gris-encabezado;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo h1{
    color: $gris-encabezado;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/**PARA MÓVIL**/
@media screen and (max-device-width : 480px) {

    .titulo img{
        display: block;
    }
    .content .menu-lateral{
        width: 80%;
    }
    .content .menu-lateral .menu{
        display: none;
    }
    .content .menu-lateral img{
        display: block;
        width: 20px;
        margin: auto;
        padding-bottom: 50px;
    }
    .content .menu-izq{
        width: 20px;
    }
    .content .menu-izq img{
        display: block ;
    }
    

}