$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;
$letters: #03a9f4;
$gris-encabezado: #F5F5F5;
$azul-verdoso: #009788;

img{
    max-height: 100px;
    max-width: 100px;
}

.cerrar{
    margin-bottom: 30px;
}
.cerrar:hover{
    cursor: pointer;
   
}

.cerrar img{
    height: 20px;
    width: 20px;
    float: right;
   
}

.outsider{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    //background: $azul-verdoso;
    font-weight: bolder;
    margin-top: 10%;
    position: absolute;
    margin-left: 25%;
    z-index: 100;
    background-color: $blanco;
    width: 50%;
    height: 50%;
    
}

.content{
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    /**
    -webkit-box-shadow: 2px 7px 4px 0px rgba(207,216,220,1);
    -moz-box-shadow: 2px 7px 4px 0px rgba(207,216,220,1);
    box-shadow: 2px 7px 4px 0px rgba(207,216,220,1);
    **/
    -webkit-box-shadow: 2px 7px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 4px 0px rgba(0,0,0,0.75);
}



.bloque-aceptar{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#allContent{
    height: 70%;
    
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    
}
#normal{
    margin-top: 100px;
}
#pedir-imagen{
    display: none;
}

.form{
    padding: 20px 20px 20px 20px;
    height: 100%;
    width: 70%;
    
    
}


textarea{
    height: 100%;
    width: 100%;
}



.boton{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#normal{
    display: block;
}
#movil{
    display: none;
}


@media screen and (max-device-width : 480px) {

    #normal{
        display: none;
    }
    #movil{
        display: block;
    }
    .outsider{
        height: 100%;
        width: 100%;

        
        position: relative;
        margin-left: 0%;
       
    }

    .cerrar img{
        margin-bottom: 50px;
    }

    .elementos img{
        height: 40px;
        width: 40px;
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
        
    }
    
    .elementos{
        display: block;
        width: 100%;

        margin-top: 50px;
    }

    .form{
        width: 100%;
        height: 50%;
    }

    .boton-img{
       padding: 20px 20px 20px 20px;
       
        
    }

    h2 {
        text-decoration: underline;
    }

    


    
    #foto{
        margin-right: 10px;
    }

    textarea{
        height: 100%;
    }






}

