<!DOCTYPE html>
<html>
<body>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content">
    <div class="container">
      <div class="title_container">
        <span class="title">Tripmefy</span>
        <span class="subtitle">Inicia sesión</span>
      </div>
      <hr>


      <input type="email" placeholder="Introduce tu email" required>
      <input type="password" placeholder="Introduce tu contraseña" required>

      <div class="clearfix">
        <button type="submit" class="signupbtn">Iniciar sesión</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancelar</button>
    </div>
      
    </div>
  </form>
</div>


</body>
</html>