<div class="contenedor">
  <div class="lateral-izq">
      
      <img src='../../assets/tripmefy.png'>
     

  </div>

  <div class="lateral-drch">
    <h1>INICIO DE SESIÓN</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="inicio_datos">
        <mat-form-field class="input">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="emailFormControl" formControlName="email" [errorStateMatcher]="matcher" placeholder="Ej. pat@example.com" [(ngModel)]="email" name="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Por favor, introduce una dirección válida
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
                Por favor, introduce una dirección de correo
          </mat-error>
        </mat-form-field>
        
        <br>

        <mat-form-field class="input" appearance="fill" >
          <mat-label>Introduce tu contraseña</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Por favor, introduce una contraseña
          </mat-error>
          
        </mat-form-field>
      
      </div>


      <div class="boton_inicio">
          <button type="submit" mat-raised-button style="width: 200px" class= "boton" >
          INICIAR SESIÓN</button>
      </div>
      
    </form>

      
  </div>
</div>