$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;


/**CONTENEDOR Y FUENTE COMÚN**/
.contenedor{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute; 
    top: 0;
    left: 0;

    

}

.contenedor p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

/**LATERAL IZQUIERDO DE LA PÁGINA**/
.lateral-izq{
    background-color: $blanco;
    width: 50%;
    height: 100%;

    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.lateral-izq img{
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    

}


/**LATERAL DERECHO DE LA PÁGINA**/
.lateral-drch{
    background-image: linear-gradient($azul-royal, $azul-claro);
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
      
}

a{
    text-decoration: none;
    color:$azul-royal;
}

.boton_inicio{
    text-align: center;
    margin-top: 50%;
}
.boton_registro{
    text-align: center;
    margin-top: 2%;
}



/**PARA MÓVIL**/
@media screen and (max-device-width : 700px) {


    .contenedor{
        flex-wrap: wrap;
        width: 100%;
        display: inline-block;
        background-color: $blanco;
        height: 620px;

        
       
    }
    .lateral-izq{
        background-color: $blanco;
        width: auto;
        height: 70%;

       
    
    }
    .lateral-izq img{
        height: 70%;
    }
    .lateral-drch{
        background-image: none;
        background-color: $blanco;
        width: auto;
        height: 30%;

        padding-bottom: 20px;
       
    }
}

