<div class="contenedor">
    <div class="lateral-izq">
        
        <img src='./assets/tripmefy.png'>
       

    </div>

    <div class="lateral-drch">

        <div class="boton_inicio">
            <button [routerLink]="['/inicio-sesion']" mat-raised-button  style="width: 200px;" class= "boton" > <a >INICIAR SESIÓN</a></button>
        </div>
        <div class="boton_registro">
            <button [routerLink]="['/registro']" mat-raised-button style="width: 200px" class= "boton" >
            <a >REGISTRO</a></button>
        </div>

        
    </div>
</div>
