<app-header titulo="CREAR VIAJE"></app-header>
<div class="sub-cabecera">
	<app-volver (click)='back()'></app-volver>
	<img id="error_img" src="../../../assets/warning.png">
	<div id="error">
		<h3 id="error1">Por favor introduce todos los campos</h3>
		<h3 id="error2">Por favor carga una imagen</h3>
		<h3 id="error3">La longitud del telefono debe ser 6 y la de la extension 2</h3>
	</div>
</div>

<app-pedir-imagen id="pedir-imagen" directiva="users" (cerrar)="cerrarPopup($event, 'pedir-imagen')" (url)="setImagen($event)"></app-pedir-imagen>
<div id="general">
	<form (ngSubmit)="onCreate()"> 
		<div id="div1">
			<mat-card style="height: 220px; vertical-align: middle; text-align: center;">
				<div class="up">
				<img src="../../../assets/plus.png" (click)="chooseImagen()"  style="display: block; margin-left: auto; margin-right: auto; cursor: pointer;" height="100px" width="100px"/>
				</div>
			</mat-card>

			<h1 style="margin-top: 3%;">Añade una imagen para tu viaje</h1>
			<br>
			<h2 style="display: inline-block; margin-right:20px ;">Establece un precio: </h2>

			<mat-form-field appearance="fill">
				<mat-label>Amount</mat-label>
				<input matInput type="number" class="example-right-align " [(ngModel)]="precio" name="precio" required>
				<span matPrefix>€&nbsp;</span>
			</mat-form-field>

			<br>
			<h2 style="display: inline-block; margin-right:20px ;">Máximo de participantes: </h2>
			<mat-form-field appearance="fill" id="maximo">
				<mat-label>Máximo</mat-label>
				<input matInput type="number" class="example-right-align " [(ngModel)]="maxpers" name="maxpers" required>
				<span matPrefix></span>
			</mat-form-field>
			<br>

			<h2> El precio incluye...</h2>
			<mat-checkbox style="display: block; margin-top: 5px;" [(ngModel)]="vuelo" name="vuelo" >
				Vuelo
			</mat-checkbox>
			<mat-checkbox style="display: block; margin-top: 5px;" [(ngModel)]="alojamiento" name="alojamiento">
				Alojamiento
			</mat-checkbox>
			<mat-checkbox style="display: block; margin-top: 5px;" [(ngModel)]="comidas" name="comidas">
				Comidas
			</mat-checkbox>


		</div>

		<div id="div2">
			<span class="texto"> Tu viaje a
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elija un continente</mat-label>
						<mat-select [(ngModel)]="continenteSelect" name="continente" required>
							<mat-option *ngFor="let continente of continentes" [value]="continente">
								{{continente}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</span>
			<span class="texto">
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elija un pais</mat-label>
						<mat-select [(ngModel)]="paisSelect" name="pais" required>
							<mat-option *ngFor="let pais of getPais()" [value]="pais">
								{{pais}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</span>
			<span class="texto">
				<div class="formulario ciudad">
					<mat-form-field class="election">
						<mat-label>Ciudad</mat-label>
						<input matInput  [(ngModel)]="ciudadSelect" name="ciudad" required>
					</mat-form-field>
				</div>
			</span>
			<br>
			<span class="texto">Fecha de inicio
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elige una fecha</mat-label>
						<input matInput #date1 type="date" maxlength="10"  placeholder="DD/MM/YYYY" [(ngModel)]="startDate" name="startDate" required>
					</mat-form-field>
				</div>
				Fecha de fin
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elige una fecha</mat-label>
						<input matInput #date2 type="date" maxlength="10"  placeholder="DD/MM/YYYY" [(ngModel)]="endDate" name="endDate" required>
					</mat-form-field>
				</div>
			</span>
			<br>
			<span class="texto">Fecha de límite de inscripción
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elige una fecha</mat-label>
						<input matInput #date3 type="date" maxlength="10"  placeholder="DD/MM/YYYY" [(ngModel)]="limitDate" name="limitDate" required>
					</mat-form-field>
				</div>
			</span>
			<br>
			<span class="texto">Fecha límite de pago
				<div class="formulario">
					<mat-form-field class="election">
						<mat-label>Elige una fecha</mat-label>
						<input matInput #date4 type="date" maxlength="10"  placeholder="DD/MM/YYYY" [(ngModel)]="limitPayDate" name="limitPayDate" required>
					</mat-form-field>
				</div>			
			</span>
			<br>
			<span class="texto">
				<div class="formulario descripcion">
					<mat-form-field class="election">
						<textarea   matInput #descripcion maxlength="300" rows=5 placeholder="Introduce una breve descripción en este area..." [(ngModel)]="desc" name ="descripcion" ></textarea>
						<mat-hint>{{descripcion.value.length}} / 300</mat-hint>	
					</mat-form-field>
				</div>
			</span>
			<br>
			<span class="texto">Contacto:
				+
				<div class="formulario prefijo">
					<mat-form-field class="election">
						<mat-label>Pr</mat-label>
						<input matInput [(ngModel)]="prefijo" name="prefijo" placeholder="34" maxlength="3" required>
					</mat-form-field>	
				</div>
				<div class="formulario contacto">
					<mat-form-field class="election">
						<mat-label>Telefono</mat-label>
						<input matInput #telef  [(ngModel)]="telefono" name="telefono" placeholder="660918814" maxlength="9" required>
						<mat-hint >{{telef.value.length}} / 9</mat-hint>
					</mat-form-field>
				</div>
			</span>
			<br>
			<div class="divBotonAceptar">
				<button mat-raised-button color="primary" class="botonAceptar" type="submit" [disabled]="checkFields()">Listo</button>
			</div>
			
		</div>


	</form>

</div>

