<app-header titulo="CREAR VIAJE"></app-header>
<app-volver></app-volver>

<div id="general">

	<div id="div1">
		<mat-card style="height: 220px; vertical-align: middle; text-align: center;">
			<div class="up">
			  <input id="uploader" hidden type="file" #uploader/>
			  <img src="../../../assets/plus.png" (click)="uploader.click()" (change)="onFileChanged($event)" style="display: block; margin-left: auto; margin-right: auto; cursor: pointer;" height="100px" width="100px"/>
			</div>
			<div class="bottom">
			  <!-- <input type="file" (change)="onFileChanged($event)" #fileInput>
			  <br>
			  <br>
			  <!--<button (click)="fileInput.click()">Select File</button>-->
			  <!-- <button mat-raised-button type="file" color="primary" #fileInput>Upload</button> --> 
			</div>
		</mat-card>

		  <h1 style="margin-top: 3%;">Añade una imagen para tu viaje</h1>
		  <br>
		  <h2 style="display: inline-block; margin-right:20px ;">Establece un precio: </h2>

		  <mat-form-field appearance="fill">
			<mat-label>Amount</mat-label>
			<input matInput type="number" class="example-right-align">
			<span matPrefix>€&nbsp;</span>
		  </mat-form-field>

		  <br>
		  <br>

		  <h2> El precio incluye...</h2>
		  <mat-checkbox *ngFor='let opcion of opciones' style="display: block; margin-top: 5px;">
			  {{opcion}}
		  </mat-checkbox>

		  <mat-form-field appearance="fill" style="margin-top: 10px; margin-right: 5%;">
			<mat-label>Introduce más opciones</mat-label>
			<input matInput [(ngModel)]="item">	
		  </mat-form-field>

		  <button mat-raised-button type="file" color="primary" (click)="addItem(item)">Añadir</button>

	</div>

	<div id="div2">
		<span class="texto"> Tu viaje a
			<form class="formulario">
				<mat-form-field class="election">
			    <mat-label>Elija un continente</mat-label>
			    <mat-select [(ngModel)]="continenteSelect" name="continente">
			      <mat-option *ngFor="let continente of continentes" [value]="continente">
			        {{continente}}
			      </mat-option>
			    </mat-select>
			  </mat-form-field>
			</form>
		</span>
		<span class="texto">
			<form class="formulario">
			  <mat-form-field class="election">
			    <mat-label>Elija un pais</mat-label>
			    <mat-select [(ngModel)]="paisSelect" name="pais">
			      <mat-option *ngFor="let pais of getPais()" [value]="pais">
			        {{pais}}
			      </mat-option>
			    </mat-select>
			  </mat-form-field>
			  
			</form>
		</span>
		<span class="texto">
			<form class="formulario ciudad">
				<mat-form-field class="election">
			      <mat-label>Ciudad</mat-label>
			      <input matInput [formControl]="ciudadFormControl" [(ngModel)]="ciudadSelect" name="ciudad">
			      <mat-error *ngIf="ciudadFormControl.hasError('required')">
				      Por favor, introduce una ciudad
				    </mat-error>
			    </mat-form-field>
			</form>
		</span>
		<br>
		<span class="texto">Fecha de inicio
			<form class="formulario">
				<mat-form-field class="election">
			      <mat-label>Elige una fecha</mat-label>
			      <input matInput #date1 maxlength="10" [formControl]="date1FormControl" placeholder="DD/MM/YYYY" [(ngModel)]="startDate" name="startDate">
			      <mat-error *ngIf="date1FormControl.hasError('required')">
				      Por favor, introduce una fecha
				    </mat-error>
			    </mat-form-field>
			</form>
			Fecha de fin
			<form class="formulario">
				<mat-form-field class="election">
			      <mat-label>Elige una fecha</mat-label>
			      <input matInput #date2 maxlength="10" [formControl]="date2FormControl" placeholder="DD/MM/YYYY" [(ngModel)]="endDate" name="endDate">
			      <mat-error *ngIf="date2FormControl.hasError('required')">
				      Por favor, introduce una fecha
				    </mat-error>
			    </mat-form-field>
			</form>
		</span>
		<br>
		<span class="texto">Fecha de límite de inscripción
			<form class="formulario">
				<mat-form-field class="election">
			      <mat-label>Elige una fecha</mat-label>
			      <input matInput #date3 maxlength="10" [formControl]="date3FormControl" placeholder="DD/MM/YYYY" [(ngModel)]="limitDate" name="limitDate">
			      <mat-error *ngIf="date3FormControl.hasError('required')">
				      Por favor, introduce una fecha
				    </mat-error>
			    </mat-form-field>
			</form>
		</span>
		<br>
		<span class="texto">Fecha límite de pago
			<form class="formulario">
				<mat-form-field class="election">
			      <mat-label>Elige una fecha</mat-label>
			      <input matInput #date4 maxlength="10" [formControl]="date4FormControl" placeholder="DD/MM/YYYY" [(ngModel)]="limitPayDate" name="limitPayDate">
			      <mat-error *ngIf="date4FormControl.hasError('required')">
				      Por favor, introduce una fecha
				    </mat-error>
			    </mat-form-field>
			</form>
						
		</span>
		<br>
		<span class="texto">
			<form class="formulario descripcion">
				<mat-form-field class="election">
					<textarea matInput #descripcion maxlength="300" rows=5 placeholder="Introduce una breve descripción en este area..."></textarea>
					<mat-hint align="end">{{descripcion.value.length}} / 300</mat-hint>
				</mat-form-field>

			</form>
		</span>
		<br>
		<span class="texto">Contacto:
			<form class="formulario contacto email">
				<mat-form-field class="election">
			      <mat-label>Email</mat-label>
			      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ej. pat@example.com" [(ngModel)]="email" name="email">
				    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
				      Por favor, introduce una dirección válida
				    </mat-error>
				    <mat-error *ngIf="emailFormControl.hasError('required')">
				      Por favor, introduce una dirección de correo
				    </mat-error>
			    </mat-form-field>
			</form>+
			<form class="formulario prefijo">
				<mat-form-field class="election">
			      <mat-label>Pr</mat-label>
			      <input matInput [(ngModel)]="prefijo" name="prefijo" placeholder="34" maxlength="3">
			    </mat-form-field>
			</form>
			<form class="formulario contacto">
				<mat-form-field class="election">
			      <mat-label>Telefono</mat-label>
			      <input matInput #telef [formControl]="telefFormControl" [(ngModel)]="telefono" name="telefono" placeholder="660918814" maxlength="9">
			      <mat-error *ngIf="telefFormControl.hasError('required')">
				      Por favor, introduce un teléfono
				    </mat-error>
				    <mat-error *ngIf="telefFormControl.hasError('minLength')">
				      Su número es demasiado pequeño
				    </mat-error>
			      <mat-hint align="end">{{telef.value.length}} / 9</mat-hint>

			    </mat-form-field>
			</form>
		</span>
		<br>
		<div class="divBotonAceptar">
			<button mat-raised-button color="primary" class="botonAceptar">Listo</button>
		</div>


		<!--
		<p> Selected food: {{continenteSelect}} </p>
		-->

		
	</div>

</div>
