<app-header titulo="Viaje "></app-header>

<div class="main_container_izq">
   <div class="titulo_viaje">
      <h1><b>Viaja a </b><span class="lugar">{{viaje.ciudad}}</span></h1>
   </div>
   <div class="fotografia_viaje">
      <div class="container_carousel1">
         <carousel [slides]="slides3"></carousel>
      </div>
   </div>

   <div class="informacion_viaje">
      <h2 class="precio" style="display: inline-block" >{{viaje.precio}}€</h2>
      <img src="../../../assets/hotel.png" style="padding-left: 3%" height="10%" width="10%"/>
      <img src="../../../assets/plane.png" style="padding-left: 3%" height="10%" width="10%"/>
      <img src="../../../assets/fork.png" style="padding-left: 3%" height="10%" width="10%"/>
      <div style= "display: inline-block" >
     
      </div>
      <p>Contacta con nostros a traves de:</p>
      <img src="../../../assets/phone.png" style="padding-right: 3%" height="6%" width="6%"/>
      <p class="bold" style="display: inline-block;">{{viaje.tlf}}</p>
      <br>
      <img src="../../../assets/envelope.png" style="padding-right: 3%" height="6%" width="6%"/>
      <p class="bold" style="display: inline-block;">{{viaje.email}}</p>

   </div>

   <!--Botones: Implemetacion en la función showButtonJoin del typescript-->
   <div *ngIf="show" class="button">
      <button (click)="unirse()" mat-raised-button color="primary" style="height: 3em; width: 10em;">Me uno al viaje</button>
   </div>
   <div *ngIf="payButton" class="button">
      <button (click)="abridPopUpPagar()" mat-raised-button color="primary" style="height: 3em; width: 10em;">Pagar</button>
   </div>
   <div *ngIf="alreadyPaid" class="button">
      <button mat-stroked-button disabled style="height: 3em; width: 10em;">Ya has pagado</button>
   </div>
   <div *ngIf="pendienteButton" class="button">
      <button mat-stroked-button disabled style="height: 3em; width: 12em;">Solicitud pendiente</button>
   </div>

</div>

<div class="main_container_der">
   <p>Viaje organizado por <span class="organizador">{{nombreOrganizador}}</span></p>
   <p>Comienza el dia <span class="bold">{{viaje.inicio}}</span></p>
   <p>Termina el dia <span class="bold">{{viaje.fin}}</span></p>
   <p><span class="bold">{{viaje.duracion}}</span></p>
   <p style="text-align: justify; margin-right: 12%;">
      {{viaje.descripcion}}
   </p>
   <p>Con nosotros ya se vienen:</p>
   <div class="container_carousel2">
      <carousel [slides]="usuarios_viaje" [links]="img_usuarios_viaje"></carousel>
   </div>
   <p>Termina el día <span class="bold">{{viaje.limiteUnion}}</span></p>
   <p>Fecha límite de pago: <span class="bold">{{viaje.limitePago}}</span></p>
</div>

<div class="form-popup-Viajero" id="myFormPagar">
   <form action="/action_page.php" class="form-container">
     <h1><b>¡Confirmación para irte de aventura!</b></h1>
     <br>
     <div class="mensaje">
         <div class="nombre_individuoViajero">
           <b> ¿Estás seguro de que deseas pagar este viaje?</b>
         </div>
         <br>
         <div *ngIf="payButton" class="eleccion1Viajero">
           <button (click)="pagar()" mat-raised-button color="primary" style="height: 3em; width: 10em;">Pagar</button>
        </div>
        <div *ngIf="alreadyPaid" class="eleccion1Viajero">
         <button mat-stroked-button disabled style="height: 3em; width: 10em;">Ya has pagado</button>
      </div>
     </div>
     <br>
     <div *ngIf="payButton" class="eleccion1Viajero">
      <button (click)="close1()" mat-raised-button color="warn" style="height: 3em; width: 10em;">Close</button>
     </div>
     <div *ngIf="alreadyPaid" class="eleccion1Viajero">
      <button (click)="close1()" mat-raised-button color="primary" style="height: 3em; width: 10em;">Buscar más viajes</button>
   </div>
   </form>
 </div>