$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;
$letters: #03a9f4;
$gris-encabezado: #F5F5F5;

.main_container_izq{
  float:left;
  width: 43%;
  margin-top: 4%;
  padding-left: 7%;
}

.main_container_der{
  float:left;
  width: 50%;
  margin-top: 4%;
}

.container_carousel1 {
    display: block;
    height: 20em;
    width: 85%;
  }

.container_carousel2 {
    display: block;
    height: 15em;
    width: 50%;
    margin: 2% 25%;
    margin-top: 4%;
    margin-bottom: 7%;
}

.lugar {
  color: $letters;
  font-weight: bold;
}

.informacion_viaje{
  margin-top: 2%;
}

.precio{
  color: $letters;
  font-size: 3em;
  margin-top: 2%;
}

.organizador{
  color: $letters;
  font-weight: bold;
}

.bold{
  font-weight: bold;
}

.button{
  margin-left: 27%;
  margin-top: 4%;
}

.texto{
  text-align: justify; 
  margin-right: 12%;
}

.form-popup-Viajero {
  display: none;
  position: fixed;
  left: 35%;
  top:23%;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  padding: 10px;
  background-color: white;
  width: 400px;
}

.nombre_individuoViajero{
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
}

.eleccion1Viajero{
  display: inline-block;
  width: 100%;
  margin-left: 30%;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: red;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 10em;
  margin-bottom:10px;
  opacity: 0.8;
  margin-left: 30%;
}

.form-container .cancel {
  background-color: rgb(238, 238, 238);
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/**PARA MÓVIL**/
@media screen and (max-device-width : 700px){
  .main_container_izq, .main_container_der{
    width: 95%;
    margin: 2.5%;
    padding-left: 0%;
  }
  .container_carousel1, .container_carousel2 {
    width: 95%;
  }
  .container_carousel2 {
    margin:0%;
    margin-bottom: 5%;
  }
  .texto{
    margin-right: 0%;
  }
}