$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;
$letters: #03a9f4;
$gris-encabezado: #F5F5F5;
$azul-verdoso: #009788;

.main{
	height: 78px;
	width: 100%;
	background-color: #413D33;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 14px;
	font-size: 80%;

}