$azul-claro: #0da8de;
$azul-royal: #004cbe;
$blanco: #ffffff;
$azul-marino: #20284c; /** solo en textos **/
$gris: #cfd8dc;
$naranja: #f4a500;
$azul-oscuro: #002063; /** popups y detalles **/
$transparencia: #6c6c6d; /** este lleva opacidad del 52% **/
$gris-buscador: #c0c1c0;


/**CONTENEDOR Y FUENTE COMÚN**/
.contenedor{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute; 
    top: 0;
    left: 0;
    

}

.formulario{
  width: 30%;
  margin-top: 10px;
}

.contenedor p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

/**LATERAL IZQUIERDO DE LA PÁGINA**/
.lateral-izq{
    background-color: $blanco;
    width: 50%;
    height: 100%;
    
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}

.lateral-izq img{
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}


/**LATERAL DERECHO DE LA PÁGINA**/
.lateral-drch{
    background-image: linear-gradient($azul-royal, $azul-claro);
    width: 50%;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    overflow: scroll;
      
}

a{
    text-decoration: none;
    color:$azul-royal;
}


.boton_registro{
    text-align: center;
    margin-top: 2%;
}
.registro_datos{
  text-align: center;
  margin-top: 5%;
}
.checkbox{
  text-align: center;
  margin-top:2%;
}

.example-margin {
  margin: 0 2%;
  text-align: center;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;
}

/* input color class */
::ng-deep input.mat-input-element {
  color:white;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: white !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: white;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
  border-color: white !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: white !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: white !important; /*outer ring color change*/ 
 }


/**PARA MÓVIL**/
@media screen and (max-device-width : 700px) {

    .contenedor{
        flex-wrap: wrap;
        width: 100%;
        display: inline-block;
        background-color: $blanco;
        height: 620px;
    }
    
    .lateral-izq{
        background-color: $blanco;
        width: auto;
        height: 70%; 
    
    }
    .lateral-izq img{
        height: 70%;
    }
    .lateral-drch{
        background-image: none;
        background-color: $blanco;
        width: auto;
        height: 30%;

        padding-bottom: 20px;
       
    }

    .boton_inicio{
      text-align: center;
      margin-top:0%;
    }

    .formulario{
      width: 70%;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
      /*change color of label*/
      color: $azul-royal !important;
     }
    
     ::ng-deep.mat-form-field-underline {
      /*change color of underline*/
      background-color: $azul-royal !important;
    } 
    
    ::ng-deep.mat-form-field-ripple {
     /*change color of underline when focused*/
     background-color: $azul-royal !important;
    }
    
    /* input color class */
    ::ng-deep input.mat-input-element {
      color:$azul-royal;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
      background-color: $azul-royal !important;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: $azul-royal;
    }

    ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
      border-color: $azul-royal !important;
    }

    ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
      background-color: $azul-royal !important;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
      border-color: $azul-royal !important; /*outer ring color change*/ 
     }
}